@import "../../../../src/styles.css";


.extra-bussiness {
    display: flex;
    flex-direction: column;
    margin: 60px 140px;
}

.extra-bussiness__textarea {
    outline: none;
    border-radius: 20px;
    background-color: transparent;
    border: 2.5px solid #DBB2C0;
    color: #DBB2C0;
}


.extra-bussiness-submit__button {
  width: 250px;
  align-self: center;
  height: 50px;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  border: 2px solid #8e6ca3;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 60px;
  background: linear-gradient(265.39deg, #756ca3 4.4%, #e0b1cb 88.73%);
}
