<section class="extra-bussiness">
  <textarea
    placeholder="type your job, maximum 20 characters"
    class="extra-bussiness__textarea"
    [(ngModel)]="job"
    maxlength="20"
  ></textarea>
  <button class="extra-bussiness-submit__button" (click)="saveTextArea()">
    Save
  </button>
  <div class="extra-hobbies-checkboxes">
    <div class="extra-hobbies-information">You must choose max 3 options!</div>
    <form [formGroup]="clickForm" class="list">
      <div formArrayName="myArray">
        <div class="checkbox-container" *ngFor="let option of checkboxLabels; let i = index">
          <input class="checkbox-image" type="checkbox" [formControlName]="i" />
          <img
            [src]="option.imageSrc"
            alt="{{ option.label }}"
            width="32"
            height="32"
          />
          <label class="extra-bussiness-labels">
           {{ option.label }}
          </label>
        </div>
      </div>
    </form>
  </div>
  <button (click)="onSubmit()">Submit</button>
</section>