@import "../../../../src/styles.css";

.container {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #231942;
}

.button-container {
  align-self: center;
  display: flex;
  justify-content: space-around;
}

.business-header {
  align-self: center;
  padding: 50px;
}

button {
  width: 250px;
  align-self: center;
  height: 50px;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  border: 2px solid #8e6ca3;
  border-radius: 40px;
  cursor: pointer;
  margin: 60px 10px;
  background-color: #231942;
}

.looking-button {
 background-color: #231942;
}