@import "../../../../src/styles.css";

.container {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #231942;
}

.button-container {
  align-self: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.business-header {
  align-self: center;
  padding: 50px;
}

button {
  width: 250px;
  align-self: center;
  height: 60px;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  border: 6px solid #8e6ca3;
  border-radius: 40px;
  cursor: pointer;
  margin: 50px 10px;
  background-color: #231942;
}

button.clicked {
  border: 1px solid #e0b1cb;
  background: linear-gradient(205deg, #a772b4 0%, rgba(188, 147, 213, 0) 100%);
  box-shadow: 0px 0px 7px 0px #fcf6bd;
}

.looking-button {
  background-color: #231942;
}
.looking-button.clicked {
  border: 1px solid #e0b1cb;
  background: linear-gradient(205deg, #a772b4 0%, rgba(188, 147, 213, 0) 100%);
  box-shadow: 0px 0px 7px 0px #fcf6bd;
}

.glass {
  width: 30px;
  margin-right: 14px;
}

.student {
  width: 40px;
  margin-right: 14px;
  padding-bottom: 8px;
}

.hired {
  width: 30px;
  margin-right: 14px;
}

.line-span {
  padding-top: 40px;
}

.line {
  width: 100%;
}

.chat-header {
  align-self: center;
  padding-top: 30px;
}

.chat-checkboxes {
  display: flex;
  align-self: center;
  padding: 30px;
}

.chat-checkboxes input[type="radio"] {
  display: none;
}

/* Style the label elements to create custom graphics */
.chat-checkboxes label {
  display: inline-block;
  cursor: pointer;
  margin: 50px; /* Adjust the margin as needed */
}

/* Style the images */
.chat-checkboxes img {
  width: 20px; /* Set the image width as needed */
  height: 20px; /* Set the image height as needed */
}

/* Style the text */
.chat-checkboxes label span {
  text-decoration: none;
}

.chat-checkboxes label span.underline {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.chat-checkboxes label span.green-underline {
  text-decoration-color: #d0f4de;
}

.chat-checkboxes label span.yellow-underline {
  text-decoration-color: #fcf6bd;
}

.chat-checkboxes label span.red-underline {
  text-decoration-color: #d84c8d;
}

@media (max-width: 800px) {
  .business-header {
    text-align: center;
  }

  button {
    margin: 12px 4px;
  }
}
